.puzzleMenuBar {
  background-color: #444444;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 4px;
}

.puzzleMenuContainer {
  
}

.puzzleMenuItem {
  background-color: #555555;
  border: 2px solid;
  border-color: #666666;
  border-radius: 4px;
  padding: 12px 24px;
  min-width: 80px;
}

.puzzleMenuItem:hover {
  background-color: #666666;
  border-color: #777777;
}

.puzzleMenuItemText {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.puzzleMenuNonAbsolute {
  /* for alignment */
  transform: translate(4px, -8px);
}

.puzzleSubMenu {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch; /* or flex-start */
  
  padding: 2px;
  gap: 2px;
  
  background-color: #444444;
  border: 2px solid;
  border-color: #666666;
  border-radius: 4px;
}

.puzzleSubMenuContainer {
  display: flex;
  flex-direction: row;
  
  background-color: #555555;
  border-radius: 4px;
  
  padding: 4px;
}

.puzzleSubMenuContainer:hover {
  background-color: #666666;
}

.puzzleSubMenuItem {
  white-space: nowrap;
  width: 100%;
}

.puzzleSubMenuItemText {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}