/* entire menu */
.puzzleFlex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* === text === */

/* === header === */

/* the header div */
.puzzleMenuBar {
  background-color: #444444;
  box-shadow: 0 0 4px #00000080;
  z-index: 1;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 4px;
}

/* the container for both the item and its menus */
.puzzleMenuContainer {
  
}

/* the header item */
.puzzleMenuItem {
  background-color: #555555;
  border: 2px solid;
  border-color: #666666;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 80px;
}

.puzzleMenuItem:hover {
  background-color: #666666;
  border-color: #777777;
}

.puzzleMenuItemText {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

/* the submenus */
.puzzleSubMenu {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch; /* or flex-start */
  
  padding: 2px;
  gap: 2px;
  
  background-color: #444444;
  border: 2px solid;
  border-color: #666666;
  border-radius: 4px;
}

/* container of subitem and submenus */
.puzzleSubMenuContainer {
  display: flex;
  flex-direction: row;
}

/* to allow for horizontal placement relative to flex */
.puzzleMenuNonAbsolute {
  /* for alignment */
  /* it has to be moved to the left a little bit (hence the 0) because if not then the hover boundaries are glitchy */
  transform: translate(0, -4px);
}

/* subitem interactable */
.puzzleSubMenuItem {
  white-space: nowrap;
  width: 100%;
  
  background-color: #555555;
  border-radius: 4px;
  
  padding: 4px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.puzzleSubMenuItem:hover {
  background-color: #666666;
}

.puzzleSubMenuItemText {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}

.faintText {
  font-size: 16px;
  color: #ffffff44;
  transform: translateY(0px);
}

/* === main puzzle container content === */

.puzzleFullContainer {
  flex: 1; /* take up all the space below the header */
  flex-shrink: 1;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  
  min-height: 0;
  overflow: hidden;
}

.puzzleSideContainer {
  width: calc(50px + 20vw);
  
  background-color: #333333;
  box-shadow: 0 0 4px #00000080;
  
  padding: 16px;
}

.puzzleSideContainerInner {
  max-height: 100%;
  overflow: auto;
  
  scrollbar-width: none;
}

.puzzleMiddleContainer {
  flex: 1;
}

.labelInputPair {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  margin: 4px 0;
}

.puzzleCanvas:focus {
  outline: none;
}

/* === ui elements === */

.puzzleButton {
  background-color: #444444;
  border: 2px solid;
  border-color: #555555;
  border-radius: 4px;
  
  padding: 8px 12px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.puzzleButton:hover {
  background-color: #555555;
  border-color: #666666;
}

.puzzleInputsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
  margin: 8px 0;
}

.puzzleStandardInput {
  background-color: #444444;
  border: 2px solid;
  border-color: #555555;
  border-radius: 4px;
  
  padding: 8px 12px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.puzzleTextAreaInput {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  
  background-color: #444444;
  border: 2px solid;
  border-color: #555555;
  border-radius: 4px;
  
  padding: 8px 12px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  resize: vertical;
  
  min-height: 120px;
}

/* selector */

.puzzleSelectionInput {
  background-color: #444444;
  border: 2px solid;
  border-color: #555555;
  border-radius: 4px;
  
  color: #ffffff;
  font-size: 16px;
  font-family: inherit;
  
  padding: 8px 12px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.puzzleSelectionInputOption {
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
}

/* checkbox */

.puzzleCheckboxContainer {
  display: flex;
}

.puzzleCheckbox {
  display: none;
}

.puzzleCheckboxLabel {
  border-radius: 4px;
  padding: 4px;
  flex: 1;
  
  transition: 0.1s;
}

.puzzleCheckbox:checked + .puzzleCheckboxLabel {
  background-color: #305030;
  border: 2px solid #407040;
}

.puzzleCheckbox:not(:checked) + .puzzleCheckboxLabel {
  background-color: #503030;
  border: 2px solid #604040;
}

.puzzleCheckbox:checked + .puzzleCheckboxLabel::after {
  content: "True";
  color: #80b080;
}

.puzzleCheckbox:not(:checked) + .puzzleCheckboxLabel::after {
  content: "False";
  color: #b08080;
}

/* canvas */

.puzzleCanvas {
  position: absolute;
}

/* === puzzle function ui === */

/*
  note: the drag functionality might fuck up if the layout is changed
*/

.puzzleFunctionUIContainer {
  margin-top: 8px;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  margin: 8px 0;
}

.puzzleFunctionAddButton {
  background-color: #446644;
  border: 2px solid;
  border-color: #557755;
  border-radius: 4px;
  
  padding: 8px 12px;
  
  text-align: center;
}

.puzzleFunctionAddButton:hover {
  background-color: #557755;
  border-color: #668866;
}

.puzzleFunctionElementInner {
  background-color: #333333;
  border: 2px solid;
  border-color: #555555;
  border-radius: 4px;
  padding: 8px;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}