/* fonts */

@font-face {
  font-family: "Bloxyl";
  font-style: normal;
  font-weight: 400;
  src: local("Bloxyl"), url("fonts/Bloxyl.otf");
}

@font-face {
  font-family: "Kaisotai";
  font-style: normal;
  font-weight: 400;
  src: local("Kaisotai"), url("fonts/Kaisotai-Next-UP-B.otf");
}

@font-face {
  font-family: "Kiniro";
  font-style: normal;
  font-weight: 400;
  src: local("Kiniro"), url("fonts/GN-Kin-iro_SansSerif.ttf");
}

/* ==== tag name styles ==== */

/* body */

body {
  font-family: "Bloxyl", sans-serif;
  
  background-color: #222222;
  color: #ffffff;
  margin: 0px;
  overflow: hidden;
}

/* text */

h1 {
  font-family: inherit;
  font-size: 48px;
  margin: 0px;
}

h2 {
  font-family: inherit;
  font-size: 36px;
  margin: 0px;
}

h3 {
  font-family: inherit;
  font-size: 24px;
  margin: 0px;
}

p {
  font-family: inherit;
  font-size: 18px;
  margin: 0px;
}

label {
  font-family: inherit;
  font-size: 18px;
  margin: 0px;
  padding-top: 8px;
}

/* inputs and interactions */

button { 
  font-family: inherit;
  font-size: 18px;
  color: #ffffff;
  
  padding: 8px;
  
  background-color: #333333;
  border: solid 2px #444444;
  border-radius: 4px;
  
  box-shadow: 0px 0px 8px #ffffff44;
  
  transition: 0.1s;
}

button:hover {
  background-color: #444444;
  border: solid 2px #555555;
}

input {
  font-family: inherit;
  font-size: 18px;
  color: #dddddd;
  
  padding: 8px;
  
  background-color: #333333;
  border: solid 2px #444444;
  border-radius: 8px;
  
  box-shadow: 0px 0px 8px #ffffff44;
  
  transition: 0.1s;
}

input:hover {
  background-color: #3a3a3a;
  border: solid 2px #4a4a4a;
}

/* ==== class styles ==== */

/* containers */

/* by default hide everything */
.menu {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* centers everything inside */
.center-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* width and height are same as window */
.window-fill {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  
  z-index: -1;
}

/* adds padding between flexbox items */
.padding-inside {
  gap: 16px;
  row-gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

/* label to element */
.two-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.two-grid label {
  text-align: right;
}
.two-grid input {
  width: 100%;
}
.two-grid div {
  width: 100%;
}

/* scrollable menu */
.scrollable {
  overflow-y: auto;
}

/* inputs and interactions */

button.large {
  font-size: 36px;
  
  /* padding: 16px 16px 8px 16px; */
  padding: 16px;
}

button.menuButton {
  font-size: 36px;
  
  /* padding: 16px 16px 8px 16px; */
  padding: 16px;
  /* margin: 4px; */
}

button.keybind {
  font-size: 24px;
  
  margin: 4px;
  
  background-color: #444444;
  border: outset 4px #666666;
}

button.keybind:hover {
  background-color: #664444;
  border: outset 4px #886666;
}

button.add-keybind {
  color: #aaccaa;
  font-size: 18px;
  
  margin-left: 16px;
  
  background-color: #444444;
  box-shadow: 0px 0px 8px #ffffff33;
}

button.add-keybind:hover {
  background-color: #445544;
}

input.large {
  font-size: 36px;
  
  /* padding: 16px 16px 8px 16px; */
  padding: 16px;
}

/* text */

label.large {
  font-size: 36px;
}

/* ==== id styles ==== */

#menuLanguageButtonEnglish {
  font-family: "Bloxyl", sans-serif;
}

#menuLanguageButtonJapanese {
  font-family: "Kaisotai", sans-serif;
}

/* ==== other styles ==== */

/* disabled */

input:disabled {
  color: #ffffff66;
  
  background-color: #222222;
  border: solid 2px #333333;
  
  box-shadow: 0px 0px 8px #ffffff22;
}